extras/flows.json
[{"id":"233aa02282033c49","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"4fc66cbedea03135","type":"particle-subscribe","z":"233aa02282033c49","name":"dFrequency","auth":"13141f3ae1d37126","scope":"user","product":"24369","event":"dFrequency","device":"","x":150,"y":120,"wires":[["d7a5ba2fa31f4952","5df93d8c07b1d458"]]},{"id":"d7a5ba2fa31f4952","type":"debug","z":"233aa02282033c49","name":"dFreq-Payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":400,"y":120,"wires":[]},{"id":"5df93d8c07b1d458","type":"switch","z":"233aa02282033c49","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"390","vt":"num","v2":"410","v2t":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":240,"wires":[[],["dcc538a8d711acdc"]]},{"id":"dcc538a8d711acdc","type":"particle-function","z":"233aa02282033c49","name":"Relay OFF","auth":"13141f3ae1d37126","function":"relayControl","argument":"OFF","scope":"user","device":"","product":"24369","x":530,"y":260,"wires":[["ecfa76b23fd120ab"]]},{"id":"ecfa76b23fd120ab","type":"debug","z":"233aa02282033c49","name":"RelayOffResult","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":720,"y":260,"wires":[]},{"id":"13141f3ae1d37126","type":"particle-config","clientId":"","clientSecret":""}]